// Google fonts import
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Nunito+Sans&family=Proza+Libre&display=swap");

/*
 How to use the fonts:
font-family: 'Nunito Sans', sans-serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Lobster Two', cursive;
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: transparent;
}
body {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
}
.header,
.main,
.footer {
    margin: 10px;
    padding: 10px;
}

.header {
    background-color: #9999ff29;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .userName {
        padding: 5px;
        min-height: 50px;
        margin-top: 2rem;
        margin-bottom: 1.5em;
        font-size: 3.2rem;
        color: #305079;
        // font-family: "Proza Libre", sans-serif;
        font-family: "Lobster Two", cursive;
        font-weight: lighter;
        text-shadow: 1px 1px 3px #3838fd, 1px 1px 5px #38fdb7;
    }
    .headerImages {
        // border: 1px solid black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 4.5px 0;
        .insideHeaderImages {
            // border: 1px solid black;
            width: 30%;
            max-width: 380px;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            a {
                text-decoration: none;
                text-decoration-color: black;
                width: 100%;
                // min-height: 100px;
                .imgdiv {
                    // border: 1px solid black;
                    display: flex;
                    min-height: 100px;
                    width: 100%;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    box-shadow: 0 0 8px 3px #62a1ed inset;
                    cursor: pointer;
                    transition: all 0.45s ease;
                    // max-height: 230px;
                    img {
                        object-fit: cover;
                        width: 100%;
                        min-height: 100px;
                        height: auto;
                        z-index: -2;
                    }
                    // 0-570
                    @media (max-width: 570px) {
                        border-radius: 46%;
                    }
                    // 570 - 949
                    @media (min-width: 570px) {
                        border-radius: 10px;
                    }
                }
                .imgdiv:hover {
                    transform: scale(1.13);
                    border-radius: 20px;
                    box-shadow: 1px 1px 9px 0px #2c147b;
                }
                .sectionName {
                    text-align: center;
                    padding: 6px;
                    color: black;
                    font-style: italic;
                    font-family: serif;
                    font-size: 1.3em;
                    text-align: center;
                    overflow-x: auto;
                    transform: translateX(-3%);
                }
                .sectionName::-webkit-scrollbar {
                    display: none;
                }
            }
            a:link,
            a:visited,
            a:hover,
            a:active {
                color: black;
            }
        }
    }
}
.main {
    // border: 1px solid;
    display: block;
    padding: 23px;
    min-height: 29vh;
    position: relative;
    .loader {
        position: absolute;
        top: 0px;
        right: 45%;
        width: 100px;
        height: 100px;
        transform: translate(50%);
        margin-bottom: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-weight: bolder;
        color: gray;
        border-radius: 50%;
        border: 10px solid #f3f3f3;
        border-top: 10px solid #3498db;
        animation: spin 2s linear infinite;
        div {
            animation: spinOpp 2s linear infinite;
        }
    }
    .links {
        min-height: 85;
        display: inline-block;
        padding: 8px;
        width: 49%;
        border: 3px solid #ffffff77;
        border-radius: 5px;
        margin-bottom: 8px;
        @media (max-width: 570px) {
            display: block;
            width: 100%;
            // background-color: green;
        }
        div {
            display: flex;
            column-gap: 20px;
            cursor: pointer;
            .image {
                padding: 1px;
                width: 60%;
                max-width: 100px;
                display: flex;
                // border: 1px solid black;
                justify-content: center;
                align-items: center;
                word-wrap: break-word;
                transition: all 0.6s ease-in-out;
                img {
                    // object-fit: cover;
                    object-fit: fill;
                    width: 100%;
                    height: 81px;
                    max-height: 100px;
                    max-width: 100px;
                    box-shadow: 1px 1px 2px #6d5f5fe0;
                    border-radius: 7px;
                }
                &:hover {
                    transform: scale(1.5);
                }
            }
            .details {
                display: block;
                padding: 10px;
                width: 100%;
                // color: black;
                color: white;
                font-family: "Nunito Sans", sans-serif;
                font-weight: bold;
                span,
                i {
                    color: #e3e3e3f7;
                }
                a {
                    color: black;
                    color: white;
                    text-decoration: none;
                }
            }
            .details:hover {
                background-color: #ffffff56;
                color: black;
                box-shadow: 0 0 7px #9e4dea;
                border-radius: 6px;
                // span,
                // i {
                //     color: black;
                // }
            }
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes spinOpp {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}
.javaDescription {
    font-size: 22 px;
    padding: 20px;
    color: darkslategray;
    font-weight: bold;
    p {
        font-size: 16px;
        font-weight: normal;
    }
}
.footer {
    margin: 0;
    display: block;
    // width: 100%;
    color: black;
    background-color: rgba(255, 203, 136, 0.33);
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
}

// Scroll bar
html::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
html::-webkit-scrollbar-track {
    // background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
    // background: linear-gradient(to bottom, rgb(252, 212, 215), rgb(196, 113, 237), rgb(67, 221, 255));
    background: linear-gradient(to bottom, #36b6edfa, #c471ed, #f54f5bfa);
}

html::-webkit-scrollbar-thumb {
    background: #9487eccf;
    border-radius: 16px;
    // box-shadow: inset 2px 2px 2px #ffffff40, inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 2px #cecdcd40, inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
