@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Nunito+Sans&family=Proza+Libre&display=swap");
/*
 How to use the fonts:
font-family: 'Nunito Sans', sans-serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Lobster Two', cursive;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
}

.header,
.main,
.footer {
  margin: 10px;
  padding: 10px;
}

.header {
  background-color: rgba(153, 153, 255, 0.1607843137);
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.header .userName {
  padding: 5px;
  min-height: 50px;
  margin-top: 2rem;
  margin-bottom: 1.5em;
  font-size: 3.2rem;
  color: #305079;
  font-family: "Lobster Two", cursive;
  font-weight: lighter;
  text-shadow: 1px 1px 3px #3838fd, 1px 1px 5px #38fdb7;
  text-align: center;
}
.header .userName span {
  font-size: 0.7em;
  box-shadow: none;
  text-shadow: none;
}
.header .headerImages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 4.5px 0;
}
.header .headerImages .insideHeaderImages {
  width: 30%;
  max-width: 380px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.header .headerImages .insideHeaderImages a {
  text-decoration: none;
  text-decoration-color: black;
  width: 100%;
}
.header .headerImages .insideHeaderImages a .imgdiv {
  display: flex;
  min-height: 100px;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 8px 3px #62a1ed inset;
  transition: all 0.45s ease;
}
.header .headerImages .insideHeaderImages a .imgdiv img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100px;
  height: auto;
  z-index: -2;
}
@media (max-width: 570px) {
  .header .headerImages .insideHeaderImages a .imgdiv {
    border-radius: 46%;
  }
}
@media (min-width: 570px) {
  .header .headerImages .insideHeaderImages a .imgdiv {
    border-radius: 10px;
  }
}
.header .headerImages .insideHeaderImages a .imgdiv:hover {
  transform: scale(1.13);
  border-radius: 20px;
  box-shadow: 1px 1px 9px 0px #2c147b;
}
.header .headerImages .insideHeaderImages a .sectionName {
  text-align: center;
  padding: 6px;
  color: black;
  font-style: italic;
  font-family: serif;
  font-size: 1.3em;
  text-align: center;
  overflow-x: auto;
  transform: translateX(-3%);
}
.header .headerImages .insideHeaderImages a .sectionName::-webkit-scrollbar {
  display: none;
}
.header .headerImages .insideHeaderImages a:link,
.header .headerImages .insideHeaderImages a:visited,
.header .headerImages .insideHeaderImages a:hover,
.header .headerImages .insideHeaderImages a:active {
  color: black;
}

.main {
  display: block;
  padding: 23px;
}
.main .links {
  display: inline-block;
  padding: 8px;
  width: 49%;
  border: 3px solid rgba(255, 255, 255, 0.4666666667);
  border-radius: 5px;
  margin-bottom: 8px;
}
@media (max-width: 570px) {
  .main .links {
    display: block;
    width: 100%;
  }
}
.main .links div {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main .links div .image {
  padding: 10px;
  width: auto;
  max-width: 100px;
  display: f lex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}
@media (max-width: 570px) {
  .main .links div .image i {
    font-size: x-large;
  }
}
@media (min-width: 570px) and (max-width: 949px) {
  .main .links div .image i {
    font-size: xx-large;
  }
}
@media (min-width: 950px) {
  .main .links div .image i {
    font-size: xxx-large;
  }
}
.main .links div .details {
  padding: 10px;
  width: 100%;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}
.main .links div .details a {
  text-decoration: none;
  color: #303030;
  font-variant: small-caps;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 570px) {
  .main .links div .details a {
    font-size: large;
  }
}
@media (min-width: 570px) and (max-width: 949px) {
  .main .links div .details a {
    font-size: large;
  }
}
@media (min-width: 950px) {
  .main .links div .details a {
    font-size: x-large;
  }
}
.main .links div .details:hover {
  background-color: rgba(255, 255, 255, 0.3607843137);
  color: black;
  box-shadow: 0 0 7px #9e4dea;
}

.footer {
  margin: 0;
  display: block;
  color: black;
  background-color: rgba(255, 203, 136, 0.33);
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, rgba(54, 182, 237, 0.9803921569), #c471ed, rgba(245, 79, 91, 0.9803921569));
}

html::-webkit-scrollbar-thumb {
  background: rgba(148, 135, 236, 0.8117647059);
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px rgba(206, 205, 205, 0.2509803922), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=indexStyle.css.map */